body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: black;
}
.line1 {
  width: 400px;
  height: 20px;
  background-color: darkcyan;
}
.line2 {
  width: 200px;
  height: 20px;
  background-color: darkcyan;
  position: absolute;
  top: 470px;
}
.line10 {
  width: 400px;
  height: 20px;
  background-color: rgb(0, 5, 5);
  position: absolute;
  top: 415px;
}
.line3 {
  width: 20px;
  height: 180px;
  background-color: darkcyan;
  position: absolute;
  top: 270px;
}
.line4 {
  width: 80px;
  height: 20px;
  background-color: darkcyan;
  position: absolute;
  top: 400px;
  right: 850px;
  transform: rotate(50deg);
}
.line5 {
  width: 200px;
  height: 20px;
  background-color: darkcyan;
  position: absolute;
  top: 312px;

  left: 588px;
  transform: rotate(320deg);
}
.line6 {
  width: 85px;
  height: 20px;
  background-color: darkcyan;
  position: absolute;
  top: 395px;
  right: 600px;
  transform: rotate(128deg);
}
.line7 {
  width: 195px;
  height: 20px;
  background-color: darkcyan;
  position: absolute;
  top: 310px;

  left: 730px;
  transform: rotate(40deg);
}
.line8 {
  width: 150px;
  height: 120px;
  background-color: rgb(14, 13, 17);
  position: absolute;
  top: 190px;
  border: 20px solid rgb(37, 134, 134);
  z-index: -1;
  border-bottom: 0;
}
.line9 {
  width: 50px;
  height: 40px;
  background-color: rgb(2, 3, 3);
  position: absolute;
  top: 130px;
  border: 20px solid rgb(37, 134, 134);
  z-index: -1;
}
